In [1]:
number=(45,58,223,48,59,89,59,49,95,55,37,47,)
print(number)

(45, 58, 223, 48, 59, 89, 59, 49, 95, 55, 37, 47)

In [6]:
number=(45,58,223,48,59,89,59,49,95,55,37,47,)
print(number)

(45, 58, 223, 48, 59, 89, 59, 49, 95, 55, 37, 47)

In [8]:
print(*number)

45 58 223 48 59 89 59 49 95 55 37 47

In [7]:
for element in number:
    print(element)

45
58
223
48
59
89
59
49
95
55
37
47

In [9]:
for element in number:
    print(element,end="")

4558223485989594995553747

In [ ]:
print("the tuple  is ;/n",number)
print("fourth element :",number[4])

In [ ]:
print("the tuple  is ;/n",number)
print("fourth element from last :",number[-4])

In [10]:
print("the tuple is :",number)
for x in range(-len(number),0,+1):
    print(number[x],end=" ")

the tuple is : (45, 58, 223, 48, 59, 89, 59, 49, 95, 55, 37, 47)
45 58 223 48 59 89 59 49 95 55 37 47

In [ ]:
print("the tupple is :",number)
print("sum of the tuple:",sum(number))

In [11]:
print("the tupple is :",number)
sum=0
for idx in range(0,len(number)):
    sum += number[idx]
    print("sum:",sum)

the tupple is : (45, 58, 223, 48, 59, 89, 59, 49, 95, 55, 37, 47)
sum: 45
sum: 103
sum: 326
sum: 374
sum: 433
sum: 522
sum: 581
sum: 630
sum: 725
sum: 780
sum: 817
sum: 864

In [12]:
first=([2])
first[0]=67
print(first)

[67]